{
  "Salary": {
    "examples": [
      "Salary",
      "SALAIRE"
    ]
  },
  "Resale": {
    "examples": [
      "LBC",
      "Leboncoin",
      "back market"
    ]
  },
  "Refunds": {
    "examples": [
      "WAYSIA",
      "LBC France SAS",
      "ADMIRAL INTERMEDIARY SERVICES SA"
    ]
  },
  "Social Security Reimbursement": {
    "examples": [
      "KENKO",
      "CPAM"
    ]
  },
  "Transfers In": {
    "examples": [
      "VIR RECU"
    ]
  }
}
